th,td,tr {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }



 body{


    background-image: url("https://services.meteored.com/img/article/cuantos-azules-tiene-el-cielo-289011-2.jpg");
    background-repeat:no-repeat;
	background-size:cover;
    

 }

